
*.exe
*.ilk
*.ilk
chat_server/.vs/chat-server/v14/.suo
.vs/chat_server/v14/.suo
chat_server/Dump_20210225_012934_1.dmp
*.opendb
*.db
*.dmp
*.log
*.tlog
*.idb
*.pdb
*.recipe
*.tlog
*.lastbuildstate
*.log
*.tlog
*.tlog
*.tlog
*.idb
*.mp4
*.tlog
*.tlog
*.ipch
*.tlog
*.tlog
*.log
*.txt
